.searchGallery {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.seachList {
  display: flex;
}

.wrapSearchList {
  width: calc((100% - 100px) / 5);
}
